/*
 ******
 * THIS SECTION IS STILL BEING REVIEWED
 ******
 */

root {
  font-size: 16px;
}
body {
  clear:both;
  style="background:white;
}
.jph-auto {
  font-size: 14px;
}
.jph-nav {
  padding-top: 2px;
  padding-bottom: 2px;
}
.jph-box{
  font-size: 16px;
  border: .11em solid navy;
  border-radius: .5em;
  height: 4.75em; 
  min-width: 9.75em;
  box-shadow: none;
  background-color: #dddddd;
  padding: 0;
  overflow: hidden;
  margin-bottom: .5em;
  margin-left: .5em;
}
@media (min-width: 480px) {
  .jph-box {
    float: left;
    width: 9.75em;
  }
}
.jph-box-header{
  max-height: 1.5em;
  padding: 0;
  text-align: center;
  border-bottom: 0.063em solid transparent;
  margin-bottom: 0;
  white-space: nowrap;
}
.jph-box-buttons{
  height: 1.875em;
  display: none; 
  padding: 0;
  text-align: center;
  border: 0.063px solid transparent; 
}
.jph-btn {
  display: inline-block;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border-radius: 1.1em;
  border: 0.163em solid transparent;
  box-shadow: none;
  white-space: nowrap;
}
.jph-box-value{
  padding: 0;
  font-size: 1.2em;
  text-align: center;
  border: 0.063em solid transparent;
  white-space: nowrap;
}
.jph-box-footer{
  padding: 0;
  font-size: .65em;
  text-align: center;
  border-top: 0.063em solid transparent;
  color: #333;
  background-color: #dddddd; 
}
.jph-info{
  color: #333;
  background-color: #dddddd;
}
.jph-ready{
  color: #fff;
  background-color: #60d24a;
}
.jph-proxy{
  color: #333;
  background-color: #60d24a;
}
.jph-timeout{
  color: #fff;
  background-color: #b74f33;
}
.jph-error{
  color: #333;
  background-color: #b74f33;
}
.jph-okay{
  color: #fff;
  background-color: #337ab7;
}
.popover-title {
  color: blue;
  font-size: small;
  font-variant: small-caps;
}
.jph-popover-row-header {
  text-decoration: underline;
  font-weight: bold;
  font-variant: small-caps;
}
.jph-popover-row {
  font-size: x-small;
  vertical-align: text-top;
}
/*
 ******
 * FROM HERE EVERYTHING NEEDS TO BE REWRITTEN 
 ******
 */

/* the graph
.jphGraph {
  background-color: white;
}

svg.line-graph .title {
	font-size: 14px;
	text-decoration: underline;
}

svg.line-graph text {
	cursor: default;
}

svg.line-graph .hover-line {
	stroke: #6E7B8B;
}

svg.line-graph .hide {
	opacity: 0;
}

svg.line-graph .axis {
	shape-rendering: crispEdges;
}

svg.line-graph .x.axis line {
	fill: none;
	stroke: #000;
}

svg.line-graph .x.axis .minor {
	stroke-opacity: .5;
}

svg.line-graph .x.axis path {
  	display: none;
}

svg.line-graph .x.axis text {
	font-size: 10px;
}

svg.line-graph .y.axis line, .y.axis path {
	fill: none;
	stroke: #000;
}

svg.line-graph .y.axis text {
	font-size: 10px;
}

svg.line-graph .menu-button:not(.selected):hover {
	text-decoration: underline;
	cursor: pointer !important;
}

svg.line-graph .date-label {
	fill: #6E7B8B;
}

/* tool tips 
.d3-tip {
  line-height: 1;
  font-weight: normal;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
 */

/* The document 
div.aGraph {
        margin-bottom: 30px;
}
*/
