{% extends "layout.html" %}
{% block head %}
{{ includes.graphs() }}
{% endblock %}
{% block body %}

<div class="container-fluid">
  <div id="graph1" class="jph-graph-box-full"></div>
  <div id="graph2" class="jph-graph-box-half"></div>
  <div id="graph3" class="jph-graph-box-half"></div>
</div>

<script>
var source1 = {
  "Name": "Kast 24 hours",
  "Settings": {
    "AutoUpdate": 1,
    "UpdateInterval": 60,
    "SecondsToShow": 86400,
    "LeftLegend": "LeftLegend",
    "LeftMax": 0,
    "LeftMin": 0,
    "RightLegend": "Temp (C)",
    "RightMax": 0,
    "RightMin": 0,
    "Title": "Cool room - Last two hours",
    "Interpolation": "linear",
    "TickLine": 0,
    "DateLabel": "top",
    "HideDateLabel": 0,
    "HideLegend": 0,
    "HideXAxis": 0,
    "HideAxisLeft": 0,
    "HideAxisRight": 0,
    "HideButtons": 1,
    "HideLeftControls": 1,
    "HideRightControls": 1,
    "graphSensors": [
      {
        "Name": "Inside",
        "Codifier": "F6",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "600.00",
        "Filter": "-1.00",
        "Smoothing": "15.00"
      },
      {
        "Name": "Rad-in",
        "Codifier": "A1",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "600.00",
        "Filter": "-1.00",
        "Smoothing": "15.00"
      },
      {
        "Name": "Rad-out",
        "Codifier": "A2",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "600.00",
        "Filter": "-1.00",
        "Smoothing": "15.00"
      },
      {
        "Name": "Outside",
        "Codifier": "F1",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "600.00",
        "Filter": "-1.00",
        "Smoothing": "15.00"
      }
    ]
  }
};
var g1 = new LineGraph({containerId: 'graph1', data: source1});

var source2 = {
  "Name": "Kast 2days",
  "Settings": {
    "AutoUpdate": 1,
    "UpdateInterval": 10,
    "SecondsToShow": 172800,
    "LeftLegend": "Humidity (%)",
    "LeftMax": 0,
    "LeftMin": 0,
    "RightLegend": "Temp (C)",
    "RightMax": 0,
    "RightMin": 0,
    "Title": "Cool Room - Last Two Days",
    "Interpolation": "linear",
    "TickLine": 0,
    "DateLabel": "top",
    "HideDateLabel": 0,
    "HideLegend": 0,
    "HideXAxis": 0,
    "HideAxisLeft": 0,
    "HideAxisRight": 0,
    "HideButtons": 1,
    "HideLeftControls": 1,
    "HideRightControls": 1,
    "graphSensors": [
      {
        "Name": "Inside-Temp",
        "Codifier": "F6",
        "Field": "value",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      },
      {
        "Name": "Inside-Hum",
        "Codifier": "F7",
        "Field": "mean-10min",
        "Axis": "Left",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      },
      {
        "Name": "Outside-Hum",
        "Codifier": "F2",
        "Field": "mean-10min",
        "Axis": "Left",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      },
      {
        "Name": "Outside-Temp",
        "Codifier": "F1",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      },
      {
        "Name": "Weather-Temp",
        "Codifier": "N5",
        "Field": "mean-10min",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      },
      {
        "Name": "Weather-Hum",
        "Codifier": "N6",
        "Field": "mean-10min",
        "Axis": "Left",
        "Interpolation": "linear",
        "Frequency": "3600.00",
        "Filter": "2.00",
        "Smoothing": "30.00"
      }
    ]
  }
};
var g2 = new LineGraph({containerId: 'graph2', data: source2});

var source3 = {
  "Name": "Kast 10min",
  "Settings": {
    "AutoUpdate": 1,
    "UpdateInterval": 10,
    "SecondsToShow": 600,
    "LeftLegend": "Humidity (%)",
    "LeftMax": 0,
    "LeftMin": 0,
    "RightLegend": "Temp (C)",
    "RightMax": 0,
    "RightMin": 0,
    "Title": "Cool Room - 10 minutes",
    "Interpolation": "linear",
    "TickLine": 0,
    "DateLabel": "top",
    "HideDateLabel": 0,
    "HideLegend": 0,
    "HideXAxis": 0,
    "HideAxisLeft": 0,
    "HideAxisRight": 0,
    "HideButtons": 1,
    "HideLeftControls": 1,
    "HideRightControls": 1,
    "graphSensors": [
      {
        "Name": "Kast-Temp",
        "Codifier": "F6",
        "Field": "value",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "15.00",
        "Filter": "-1.00",
        "Smoothing": "1.00"
      },
      {
        "Name": "Outside-Temp",
        "Codifier": "F1",
        "Field": "value",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "15.00",
        "Filter": "-1.00",
        "Smoothing": "1.00"
      },
      {
        "Name": "kastpi-Temp",
        "Codifier": "C1",
        "Field": "value",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "15.00",
        "Filter": "-1.00",
        "Smoothing": "1.00"
      },
      {
        "Name": "house-Temp",
        "Codifier": "N2",
        "Field": "value",
        "Axis": "Right",
        "Interpolation": "linear",
        "Frequency": "120.00",
        "Filter": "-1.00",
        "Smoothing": "1.00"
      }
    ]
  }
};
var g3 = new LineGraph({containerId: 'graph3', data: source3});


</script>

{% endblock %}
