<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JPH Monitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jphStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<!--
id's are: Codifier +
b = box
h = header
c = console menu
v = value of the Sensors
t = footer (for time value)
S = start icon
H = pause icon
P = heartbeat (ping)
C = line-chart
i = show an info bubble
-->
<body>
{% include "menubar.html" %}
<div style="position:relative;width:100%"></div>
<div class="container-fluid">
{% for sensor in sensors %}
	<div class="jph-box" data-click="controls" id="{{ sensor.Codifier }}b" >
		<div class="jph-box-header {% if sensor.Active %} jph-error {% else %} jph-error {% endif %}" id="{{ sensor.Codifier }}h">{{ sensor.Codifier }} - {{ sensor.ShortName }}</div>
		<div class="jph-box-buttons" id="{{ sensor.Codifier }}c"> 
			<button type="button" {% if sensor.Type == "Proxy" %}disabled{% endif %} class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="{% if sensor.Type == "Proxy" %}Proxied by {{ sensor.Sensor.Codifier }}{% else %}Start the Sensor{% endif %}" id="{{ sensor.Codifier }}S"><i class="fa fa-play fa-inverse"></i></button>
			<button type="button" {% if sensor.Type == "Proxy" %}disabled{% endif %} class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="{% if sensor.Type == "Proxy" %}Proxied by {{ sensor.Sensor.Codifier }}{% else %}Pause the Sensor{% endif %}" id="{{ sensor.Codifier }}H"><i class="fa fa-pause fa-inverse"></i></button>
			<button type="button" class="btn jph-btn jph-okay" data-trigger="focus" rel="popover" data-placement="bottom" data-html="true" data-content='<iframe frameborder="0" scrolling="yes" height="220" width="240" src="/sensorinfo/{{ sensor.Codifier }}"></iframe>' title="{{ sensor.Name }}" id="{{ sensor.Codifier }}i"><i class="fa fa-info fa-inverse"></i></button>
			<button type="button" {% if sensor.Type == "Proxy" %}disabled{% endif %} class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="{% if sensor.Type == "Proxy" %}Proxied by {{ sensor.Sensor.Codifier }}{% else %}Ping the Sensor{% endif %}" id="{{ sensor.Codifier }}P"><i class="fa fa-heartbeat fa-inverse"></i></button>
			<button type="button" {% if sensor.Type == "Proxy" %}disabled{% endif %} class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="{% if sensor.Type == "Proxy" %}Proxied by {{ sensor.Sensor.Codifier }}{% else %}Reload Configuration{% endif %}" id="{{ sensor.Codifier }}C"><i class="fa fa-refresh fa-inverse"></i></button>
		</div>
		<div class="card-text jph-box-value" id="{{ sensor.Codifier }}v"></div>
		<div class="card-footer jph-box-footer" id="{{ sensor.Codifier }}t"></div>
	</div>
{% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jphCommon.js') }}"></script>
<script>

//
// Some AJAX navigation functions
//
var ocard=""
$(function() {
	$('[data-click="controls"]').click(function (event) {
	  var code=$(this).attr("id").substring(0,2); 
	  console.log("code:", code);
		if ((ocard != "") && (ocard!=code)) {
			$('#'+ocard+'c').slideUp()
			$('#'+ocard+'v').slideDown('slow')
			ocard=""
		}
		if ($('#'+code+'c').css('display') != 'none') {
			$('#'+code+'c').slideUp();
			$('#'+code+'v').slideDown('slow');
			ocard=""
		} else {
			$('#'+code+'v').slideUp();
			$('#'+code+'c').slideDown('slow');
			ocard=code;
		}
	})
})

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})

$('[rel="popover"]').popover({
	offset: '-15em 0em'
});

$(function () {
	$('[data-btn="jphbtn"]').click(function (event) {
		var code=$(this).attr("id").substring(0,2); 
		var type=$(this).attr("id").substring(2,3); 
		var url="/sensormsg/" + code + "/" + type;
		$(this).tooltip('hide');
		$("#"+code+"t").html( "" );
		jQuery.getJSON(url).done(function(response) {
			msg = "Send: " + response.Flag + " to " + response.Codifier;
			$("#"+response.Codifier+"t").html( msg );
		})
	})
})

//
// Global Variables
//
var RefreshRate=1000;           // Update Frequency for client browser (for poling version)
var RefreshInProgress = false;

var STATUS = {                  // enum the status per sensor
  INIT : {value: -1},
  INFO : {value: 0},
  READY : {value: 1}, 
  ERROR : {value: 2},
  OKAY : {value: 3},
  TIMEOUT : {value: 4}
};

// Load the Data arrays for working on the data
var mySensors = {{ sensors|tojson }};
for (var key in mySensors) {
	mySensors[key].LastITimestamp=0;
	mySensors[key].LastDTimestamp=0;
	mySensors[key].LastStatus=STATUS.INIT;
}

//
// Check here if there is any stale date
//
var updateTimes = function() {
	n=parseInt((Date.now()-RefreshRate));
	for ( i=mySensors.length;i--; ) {
		s=mySensors[i];

		if (s.Active) {
			if ((n - (s.TimeoutWarning * 1000)) < s.LastDTimestamp) {
				newStatus=STATUS.OKAY;
			} else {
				if ((n-(s.KeepAliveInterval * 1000)) < s.LastITimestamp) {
					newStatus=STATUS.TIMEOUT;
				} else {
					newStatus=STATUS.ERROR;
				}
			}
		} else {
			if (s.Type == "Proxy") {
				p=findSensor(s.Sensor.Codifier, mySensors);
				if (p==null) {
					console.log("Strange? Proxy sensors not found ", s.Sensor.Codifier );
					continue;
				}
				newStatus=STATUS.PROXY;
				if (p.Active) {
					if ((n - (p.TimeoutWarning * 1000)) < s.LastDTimestamp) {
						newStatus=STATUS.OKAY;
					} else {
						if ( p.LastStatus == STATUS.ERROR ) {
							newStatus=STATUS.ERROR;
						} else {
							newStatus=STATUS.TIMEOUT;
						}
					}
				}
			} else {
				if ((n-(s.KeepAliveInterval * 1000)) < s.LastITimestamp) {
					newStatus=STATUS.READY;
				} else {
					newStatus=STATUS.INFO;
				}
			}
		}

		if (s.Type=="Flask") {
			if ( newStatus != STATUS.OKAY )
				newStatus=STATUS.READY;
		}

		if (s.Type=="ControlProgram") {
			if ( newStatus != STATUS.OKAY )
				newStatus=STATUS.INFO;
		}

		if ( newStatus != s.LastStatus) {
			switch(newStatus) {
				case STATUS.TIMEOUT:
					$("#"+s.Codifier+"h").addClass("jph-timeout");
					$("#"+s.Codifier+"h").removeClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					break;
				case STATUS.OKAY:
					$("#"+s.Codifier+"h").addClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-timeout");
					break;
				case STATUS.ERROR:
					$("#"+s.Codifier+"h").addClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-timeout");
					break;
				case STATUS.PROXY:
					$("#"+s.Codifier+"h").addClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-timeout");
					break;
				case STATUS.READY:
					$("#"+s.Codifier+"h").addClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-timeout");
					break;
				case STATUS.INFO:
					$("#"+s.Codifier+"h").addClass("jph-info");
					$("#"+s.Codifier+"h").removeClass("jph-proxy");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-ready");
					$("#"+s.Codifier+"h").removeClass("jph-timeout");
					break;
			}
			s.LastStatus=newStatus;
		}
		if (s.LastDTimestamp != 0) {
			d = parseInt(s.LastDTimestamp);
			$("#"+s.Codifier+"t").html( time_ago(d) );
		}
	}
}

var updateValues = function() {
	jQuery.getJSON("/sensor/").done(function(response) {
		if ( response.length > 0) {
			for (var key in response) {
				s=findSensor(response[key].Codifier, mySensors);
				if (s==null) {
					console.log("a new sensor:", reponse[key].Codifier);
					alert("A new sensor was found please refresh the page");
					// (Test this???)   ---> window.location.reload(true);
					continue
				}
				t=parseInt(response[key].ITimestamp);
				if (t>s.LastITimestamp) { 
					s.Active = toBoolean(response[key].IsActive);
					s.LastITimestamp=t;
					m= new Date(t).toISOString().slice(0,19).replace('T', ' ');
				}
				t=parseInt(response[key].DTimestamp);
				if (t>s.LastDTimestamp) {
					$("#"+s.Codifier+'v').html( afronden(parseFloat(response[key].Value).toFixed(1)) + "" + s.Symbol);
					s.LastDTimestamp=t;
				}
			}
		}
		RefreshInProgress=false;
	});
};

setInterval(function () {
	if (RefreshInProgress) return;
	RefreshInProgress=true;
	updateValues();
	updateTimes();
}, RefreshRate);

</script>
</body>
</html>
