<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JPH Monitor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
    integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jphStyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<body style="background:white;">
{% include "menubar.html" %}
<div style="position:relative;width:100%;height:100%;display:table-cell;vertical-align:middle;text-align:center">
  <img style="border:5:width:1000px;height:500px" src={{ url_for('static', filename='diagram.png') }}>
  <div id="X2" Class="jph-auto" style="position:absolute;top:5em;left:11em">N/A</div>
  <div id="Y2" Class="jph-auto" style="position:absolute;top:20.4em;left:11em">N/A</div>
  <div id="PB" Class="jph-auto" style="position:absolute;top:13em;left:72em">N/A</div>
</div>
<div style="clear:both"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jphCommon.js') }}"></script>
<script>
//
// Global Variables
//
var RefreshRate=1000;           // Update Frequency for client browser (for poling version)
var RefreshInProgress = false;

var mySensors = {{ sensors|tojson }};
var Sensors = new Array();

var STATUS = {                  // enum the status per sensor
  INIT : {value: -1},
  OKAY : {value: 0},
  ERROR : {value: 1} 
}

var initSensors = function() {
  var dash = document.getElementsByClassName("jph-auto");
  var i;
  for (var i = 0; i < dash.length; i++) {
    p = findSensor(dash[i].id, mySensors);
    if (p==null) {
      console.log("Strange? Sensors not found ", dash[i].id );
      continue;
    }
    sy=p.Symbol;
    if (p.Type == "Proxy") {
      p=findSensor(p.Sensor.Codifier, mySensors);
      if (p==null) {
        console.log("Strange? Proxy sensors not found ", s.Sensor.Codifier );
        continue;
      }
    }
    temp={
      id: dash[i].id,
      lv: -1,                       // Last timestamp a value was updated
      to: p.TimeoutWarning * 1000,  // timeout period from config
      sy: sy,                       // Symbol
      ls: STATUS.INIT               // last status field
    }
    Sensors.push(temp);
  }
  MySensors="";                     // Freeup some RAM
};

var updateValues = function() {
  jQuery.getJSON("/sensor/").done(function(response) {
    if ( response.length > 0) {
      n=parseInt((Date.now()-RefreshRate));
      for (var i = 0; i < Sensors.length; i++) {
        for (var key in response) {
          t=parseInt(response[key].DTimestamp);
          if (t>0) {
            console.log(t, Sensors[i].id, response[key].Codifier)
            if (Sensors[i].id == response[key].Codifier) {
              if (t>Sensors[i].lv) {
                $("#"+Sensors[i].id).html( afronden(parseFloat(response[key].Value).toFixed(1)) + "" + Sensors[i].sy);
                Sensors[i].lv = t;
              }
              break;
            }
          }
        }
        if ((n - (Sensors[i].to)) < Sensors[i].lv) 
          newStatus = STATUS.OKAY;
        else
          newStatus = STATUS.ERROR;
        if(Sensors[i].ls != newStatus) {
          switch(newStatus) {
            case STATUS.OKAY:
              $("#"+Sensors[i].id).addClass("jph-okay");
              $("#"+Sensors[i].id).removeClass("jph-error");
              break;
            case STATUS.ERROR:
              $("#"+Sensors[i].id).addClass("jph-error");
              $("#"+Sensors[i].id).removeClass("jph-okay");
              break;
          }
        }
        // Do colours here
      }
    }
    RefreshInProgress = false;
  })
}

initSensors();

setInterval(function () {
  if (RefreshInProgress) return;
  RefreshInProgress = true;
  updateValues();
}, RefreshRate);

</script>

</body>
</html>
