<!DOCTYPE html>
<html lang="en">
<head>
	<title>JPH Monitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jphStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">

</head>
<body style="background:white;">
{% include "menubar.html" %}
<br><br>
<div style="width:100%;height:400px">
   <div id="myGraph" class="jphGraph" style="float:left;width:80%;height:400px">
   </div>
   <div style="float:left;">
   Fields here
   </div>
</div>
<div style="clear:both"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'></script>
<script src="http://d3js.org/d3.v2.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='sensorGraphV2.js') }}"></script>


<script>
var source1 = {
        "Name": "Graph1",
        "Settings": {
            "AutoUpdate": 1,
            "UpdateInterval": 10,
            "SecondsToShow": 7200,
            "LeftLegend": "",
            "LeftMax": 0,
            "LeftMin": 0,
            "RightLegend": "Degrees (C)",
            "RightMax": 0,
            "RightMin": 0,
            "Title": "Manifold Temp - Last 2 hours",
            "Interpolation": "linear",
            "TickLine": 0,
            "HideDateLabel": 0,
            "HideLegend": 0,
            "HideXAxis": 0,
            "HideAxisLeft": 0,
            "HideAxisRight": 0,
            "HideButtons": 0,
            "HideLeftControls": 1,
            "HideRightControls": 1,
            "graphSensors": [
                {
                    "Name": "tempmad",
                    "Codifier": "C3",
                    "Axis": "Right",
                    "Interpolation": "linear",
                    "Frequency": "10.00",
                    "Filter": "0.10",
                    "Smoothing": "15.00"
                },
                {
                    "Name": "tempkast",
                    "Codifier": "C1",
                    "Axis": "Right",
                    "Interpolation": "linear",
                    "Frequency": "10.00",
                    "Filter": "0.10",
                    "Smoothing": "15.00"
                },
                {
                    "Name": "Redis",
                    "Codifier": "R1",
                    "Axis": "Right",
                    "Interpolation": "linear",
                    "Frequency": "10.00",
                    "Filter": "0.10",
                    "Smoothing": "15.00"
                },
                {
                    "Name": "Postgress",
                    "Codifier": "Q1",
                    "Axis": "Right",
                    "Interpolation": "linear",
                    "Frequency": "10.00",
                    "Filter": "0.10",
                    "Smoothing": "15.00"
                }
            ]
        }
    };
    var l1 = new LineGraph({containerId: 'myGraph', data: source1});



			
</script>

</body>
</html>
