{% extends "layout.html" %}
{% block body %}
<div class="container">
<p> </p>
<h1>Welcome to JPH Monitor</h1>
<p>I have <a href="/diagram">multiple computers</a> on one water cooling loop. The water travels through my walls to a cupboard outside where a radiator get rid of the heat. This is a monitoring tool to provide a <a href="/dashboard">dashboard</a> on the status of the system.</p>
<p>The <a href="/component">component diagram</a> shows all the components I use the monitor the system. The Arduino monitors two flow sensors and has a  <a href="github.com/judgewooden/failsafe">fail-safe</a> feature to automatically switch of the power, and avoid the pumps from running dry when I am not home.<p>
<ul>
<li>The pi-kast monitors the temperature of the <a href="/coolanalysis">radiator and ambient</a> temperature.</li>
<li>The pi-host monitors the <a href="/wateranalysis">water temperature</a> on the manifold and <a href="/mineanalysis">power meters.</a></li>
<li>The pi-monitor monitors the <a href="/flowanalysis">flow</a> and run the <a href="github.com/judgewooden/multi-sensor">JPH monitoring software.</a></li>
</ul>
<p>Please leave any comments on the <a href="github.com/judgewooden/multi-sensor">github</a></p>
</div>
{% endblock %}