{% extends "layout.html" %}
{% block head %}
  <meta name="description" content="Monitoring temperature & water flow for multiple computers on one water cooling loop.">
  <meta name="google-site-verification" content="X4S32hBj9k5VNUjcrPlhbzCRuZXIeEXYtcKBD9Ump3I" />
  <script type='application/ld+json'>
  {
    "@context":"http://schema.org",
    "@type":"WebSite",
    "url":"http://jphmonitor.nl",
    "name":"JPHmonitor",
    "image":"http://jphmonitor.nl/static/jph.jpg",
    "description":"Monitoring temperature & water flow for multiple computers on one water cooling loop",
    "alternateName":"JPH monitor"
  }
  </script>
  <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" style="display:none;">
    <li itemprop="name"><a itemprop="url" href="http://jphmonitor.nl/dashboard">Dashboard</a></li>
    <li itemprop="name"><a itemprop="url" href="http://jphmonitor.nl/diagram">Flow Diagram</a></li>
    <li itemprop="name"><a itemprop="url" href="http://jphmonitor.nl/wateranalysis">Temperature Graph</a></li>
    <li itemprop="name"><a itemprop="url" href="http://jphmonitor.nl/mineanalysis">Efficiency Graph</a></li>
  </ul>
{% endblock %}
{% block body %}
<div class="container">
<p> </p>
<h1>Welcome to JPH Monitor</h1>
<p>I have <a href="/diagram">multiple computers</a> on one water cooling loop. The water travels through my walls to a cupboard outside where a radiator get rid of the heat. This is a monitoring tool to provide a <a href="/dashboard">dashboard</a> on the status of the system.</p>
<p>The <a href="/component">component diagram</a> shows all the components I use to monitor the system. 
<ul>
    <li>The Arduino monitors the flow sensors and has a <a href="http://github.com/judgewooden/failsafe">fail-safe</a> feature to automatically detect a leak and switch of the power to avoid the pumps from running dry when I am not home.</li>
    <li>The pi-kast monitors the temperature of the <a href="/coolanalysis">radiator and ambient</a> temperature.</li>
    <li>The pi-host monitors the <a href="/wateranalysis">water temperature</a> on the manifold and <a href="/mineanalysis">power meters.</a></li>
    <li>The pi-monitor monitors the <a href="/flowanalysis">flow</a> and run the <a href="http://github.com/judgewooden/multi-sensor">JPH monitoring software.</a></li>
</ul>
<p>Please leave any comments on the <a href="http://github.com/judgewooden">github project page</a></p>
</div>
{% endblock %}