{% extends "layout.html" %}
{% block body %}
<div class="container">
<p> </p>
<h1>Welcome to JPH Monitor</h1>
<p>I have <a href="/diagram">multiple computers</a> on one water cooling loop. The water travels through my walls to a cupboard outside where a radiator get rid of the heat. This is a monitoring tool to view the status of the system.</p>
<p>The component diagram shows all the components I use the monitor the system. The Arduino monitors two flow sensors and has a fail-safe feature to automatically switch of the power, and avoid the pumps from running dry when I am not home.<p>
<ul>
<li>The pi-kast monitors the temperature of the radiator and ambient temperature.</li>
<li>The pi-host monitors the temperature on the manifold inside and reads zwave power meters.</li>
<li>The pi-monitor run this web-page, which is build on the JPH messaging.</li>
</ul>
<p>Please leave any comments on the github pages</p>
</div>
{% endblock %}