<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JPH Monitor</title>
{% block head %}
{% endblock %}
{% import 'includes.html' as includes %}
{{ includes.jph() }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-104468711-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
<nav class="navbar navbar-dark bg-inverse navbar-fixed-top jph-nav">
  <a class="navbar-brand" href="/">JPH Monitor</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
    <ul class="nav navbar-nav">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-other" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Overview</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-other">
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <a class="dropdown-item" href="/diagram">Flow Diagram</a>
          <a class="dropdown-item" href="/component">Component Diagram</a>
        </div>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-graphs" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Graphs</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-graphs">
          
          <a class="dropdown-item" href="/flowanalysis">Arduino Flow</a>
          <a class="dropdown-item" href="/wateranalysis">Water Details</a>
          <a class="dropdown-item" href="/coolanalysis">Cool Room</a>
          <a class="dropdown-item" href="/mineanalysis">Mining v. Power</a>
          <a class="dropdown-item" href="/devel">Custom Graphs</a>
        </div>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-system" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">System</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-system">
          <a class="dropdown-item" href="/dashtable">List Sensors</a>
          <a class="dropdown-item" href="/logview">Log Viewer</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right">
    	<li class="nav-item">
    		{% if current_user.is_authenticated %} 
    		<a class="nav-link" href="/logout">Logout: {{ current_user.email }}</a>
 				{% else %}
    		<a class="nav-link" href="/login">Login</a>
 				{% endif %}
    	<li>
    </ul>
  </div>
</nav>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div data-btn="clear" class="jph-notify-show jph-error">
		<ul> 
		{% for message in messages %}
		  <li id="jph-notice">{{ message }}</li>
		{% endfor %}
		</ul>
	</div>
{% else %}
{% endif %}
{% endwith %}
<div id="jph-notice-bar" data-btn="clear" class="jph-notify-hide">
	<div id="jph-notice"></div>
</div>
<script>
$(function() {
	$('[data-btn="clear"]').click(function (event) {
		$(this).slideUp('slow');
	})
})
</script>
{% block body %}
{% endblock %}
</body>
</html>