{% extends "layout.html" %}
{% block body %}
<div class="container-fluid" style="padding:8px">
<pre id="output" style="border: 2px solid grey; overflow:auto;">></pre>
</div>
<script>

var getWheigth = function(value) {
    return $(window).innerHeight() - 60;
}
// ;
//     z=x-80;
//     console.log(x,z);
//     return z;
// }

$(function(){
  $('#output').css({ height: getWheigth() });
  $(window).resize(function(){
    $('#output').css({ height: getWheigth() });
  });
});

$("#output").load('{{ url_for('logstream') }}');
    // var output = document.getElementById('output');

    // var xhr = new XMLHttpRequest();
    // xhr.open('GET', '{{ url_for('logstream') }}');
    // xhr.send();

    // setInterval(function() {
    //     output.textContent = xhr.responseText;
    // }, 1000);
</script>

{% endblock %}