{% extends "layout.html" %}
{% block body %}
<div class="container-fluid" style="padding:8px">
<table id="output" class="cell-border compact">
<thead>
<tr>
<th>Log Entry</th>
</tr>
</thead>
<tbody>
{% for line in loghist %} 
<tr>
<td>
{{ line }}
</td>
</tr>
{% endfor %}
</tbody>  
</table>
</div>
<script>

function drawtable() {
  vart = $('#output').DataTable({
    "columns": [
      { "orderable": true }
    ],
    "order": [[ 0, "desc" ]],
    "scrollY": $(window).innerHeight() - 170,
    "scrollCollapse": true,
    "paging": false
  });
}

$(document).ready(function() {
  drawtable();
})

$(window).resize(function(){
  vart.destroy();
  drawtable();
});

</script>

{% endblock %}