<nav class="navbar navbar-dark bg-inverse navbar-fixed-top jph-nav">
  <a class="navbar-brand" href="/">JPH Monitor</a>
  <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
    <ul class="nav navbar-nav">
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-other" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Overview</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-other">
          <a class="dropdown-item" href="/dashboard">Dashboard</a>
          <a class="dropdown-item" href="/diagram">Diagram</a>
          <a class="dropdown-item" href="/diagram">Development</a>
        </div>
      </li>
      <!--
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-kast" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Cool Room Details</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-kast">
          <a class="dropdown-item" href="#">Last Two hours</a>
          <a class="dropdown-item" href="#">Last Two days</a>
          <a class="dropdown-item" href="#">First Loop Only</a>
          <a class="dropdown-item" href="#">Second Loop Only</a>
        </div>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-water" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Water Details</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-water">
          <a class="dropdown-item" href="#">Last Two hours</a>
          <a class="dropdown-item" href="#">Last Two days</a>
          <a class="dropdown-item" href="#">First Loop Only</a>
          <a class="dropdown-item" href="#">Second Loop Only</a>
        </div>
      </li>
      <li class="nav-item dropdown">
       <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-flow" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">Flow Details</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-flow">
          <a class="dropdown-item" href="#">Last Two hours</a>
          <a class="dropdown-item" href="#">Last Two days</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://jphmonitor.nl" id="jph-nav-config" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Config</a>
        <div class="dropdown-menu" aria-labelledby="jph-nav-config">
          <a class="dropdown-item" href="#">Custom Graph</a>
          <a class="dropdown-item" href="#">Setup Sensors</a>
        </div>
      </li>
      -->
    </ul>

  </div>
</nav>
<br><br>
