<!DOCTYPE html>
<html lang="en">
<head>
	<title>JPH Monitor</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
	  integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sensorGraphStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<!--
id's are: Codifier +
h = header
c = console menu
v = value of the Sensors
t = footer (for time value)
S = start icon
H = pause icon
P = heartbeat (ping)
l = line-chart
i = show an info bubble
-->
<body style="background:white;">
{% include "menubar.html" %}
<br><br>
<div style="position:relative;width:100%"></div>
<div class="container-fluid">
  <div class="row">
{% for sensor in sensors %}
	<div class="col-md-2">
	  <div class="card card-block jph-box">
		<div class="card-header {% if sensor.Active %} jph-error {% else %} jph-info {% endif %} jph-box-header" data-click="controls" id="{{ sensor.Codifier }}h">{{ sensor.Codifier }} - {{ sensor.ShortName }}</div>
		<div class="card-subheader jph-box-subheader" data-click="controls" id="{{ sensor.Codifier }}c"> 
		  <button type="button" class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="Start the Sensor" id="{{ sensor.Codifier }}S"><i class="fa fa-play fa-inverse"></i></button>
		  <button type="button" class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="Pause the Sensor" id="{{ sensor.Codifier }}H"><i class="fa fa-pause fa-inverse"></i></button>
		  <button type="button" class="btn jph-btn jph-okay" data-trigger="focus" rel="popover" data-placement="bottom" data-html="true" data-content='<iframe frameborder="0" scrolling="yes" height="220" width="240" src="/sensorinfo/{{ sensor.Codifier }}"></iframe>' title="{{ sensor.Name }}" id="{{ sensor.Codifier }}i"><i class="fa fa-info fa-inverse"></i></button>
		  <button type="button" class="btn jph-btn jph-okay" data-btn="jphbtn" data-toggle="tooltip" data-placement="bottom" title="Ping the Sensor" id="{{ sensor.Codifier }}P"><i class="fa fa-heartbeat fa-inverse"></i></button>
		  <button type="button" class="btn jph-btn jph-okay" data-btn="jphSTILL-TO-BE-DESIGNED" data-toggle="tooltip" data-placement="bottom" title="Show a line graph" id="{{ sensor.Codifier }}l"><i class="fa fa-line-chart fa-inverse"></i></button>
		</div>
		<div class="card-text jph-box-value" data-click="controls" id="{{ sensor.Codifier }}v"></div>
		<div class="card-footer jph-box-footer" data-click="controls" id="{{ sensor.Codifier }}t"></div>
	  </div>
	</div>
{% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script>
// var xmlhttp = new XMLHttpRequest();
// xmlhttp.onreadystatechange = function() {
// 	console.log ("return:", xmlhttp.readyState);
// 	if ( xmlhttp.readyState == XMLHttpRequest.DONE ) {
// 		console.log("data", xmlhttp.responseText);
// 	}
// }
// xmlhttp.open("GET","/sensormsg/C1/H",true);
// xmlhttp.send(null);

// function checkData()
// {
//     alert(xmlhttp.readyState);
// }

//
// Some AJAX navigation functions
//
var currentOpenConsole=""
$(function() {
	$('[data-click="controls"]').click(function (event) {
	  var code=$(this).attr("id").substring(0,2); 
		if ((currentOpenConsole != "") && (currentOpenConsole!=code)) {
			$('#'+currentOpenConsole+'c').slideUp()
			$('#'+currentOpenConsole+'v').slideDown('slow')
			currentOpenConsole=""
		}
		if ($('#'+code+'c').css('display') != 'none') {
			$('#'+code+'c').slideUp();
			$('#'+code+'v').slideDown('slow');
			currentOpenConsole=""
		} else {
			$('#'+code+'v').slideUp();
			$('#'+code+'c').slideDown('slow');
			currentOpenConsole=code;
		}
	})
})

$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})

$('[rel="popover"]').popover({
	offset: '-15em 0em'
});

$(function () {
	$('[data-btn="jphbtn"]').click(function (event) {
		var code=$(this).attr("id").substring(0,2); 
		var type=$(this).attr("id").substring(2,3); 
		var url="/sensormsg/" + code + "/" + type;
		$("#"+code+"t").html( "" );
		jQuery.getJSON(url).done(function(response) {
			msg = "Send: " + response.Flag + " to " + response.Codifier;
			$("#"+response.Codifier+"t").html( msg );
		})
	})
})

//
// Global Variables
//
var RefreshRate=1000;           // Update Frequency for client browser (for poling version)

var STATUS = {                  // enum the status per sensor
	INIT : {value: -1},
  INFO : {value: 0},
  IWARNING : {value: 1}, 
  DWARNING : {value: 2},
  HEADING : {value: 3}
};

// Load the Data arrays for working on the data
var mySensors = {{ sensors|tojson }};
for (var key in mySensors) {
	mySensors[key].LastITimestamp=0;
	mySensors[key].LastDTimestamp=0;
	mySensors[key].LastStatus=STATUS.INIT;
}
// console.log(mySensors);

//
// Check here if there is any stale date
//
var updateTimes = function() {
	for ( i=mySensors.length;i--; ) {
		s=mySensors[i];

		if (s.Active) {
			n=parseInt((Date.now()-RefreshRate));
			if ((n - (s.TimeoutWarning * 1000)) > s.LastDTimestamp) {
				newStatus=STATUS.DWARNING;
			} else {
				if ((n-(s.TimeoutWarning * 1000)) > s.LastITimestamp) {
					newStatus=STATUS.IWARNING;
				} else {
					newStatus=STATUS.HEADING;
				}
			}
		} else {
			newStatus=STATUS.INFO;
			if (s.Type == "Proxy") {
				p=findSensor(s.Sensor.Codifier);
				if (p==null) {
					console.log("Strange? Proxy sensors not found ", s.Sensor.Codifier );
					continue;
				}
				console.log(s.Codifier);
				if (s.Codifier == "X2") console.log("X2 Proxy");
				if (p.LastStatus==STATUS.IWARNING) {
					newStatus=STATUS.IWARNING;
				} else {
					if (p.LastStatus!=STATUS.INFO) {
						if (s.Codifier == "X2") console.log(s.LastDTimestamp);
						n=parseInt((Date.now()-RefreshRate));
						if ((n - (p.TimeoutWarning * 1000)) > s.LastDTimestamp) {
							newStatus=STATUS.DWARNING;
						} else {
							newStatus=STATUS.HEADING;
						}
					}
				}
			}
		}

		if (s.Type=="ControlProgram") {
			if ( newStatus != STATUS.HEADING )
				newStatus=STATUS.INFO;
		}

		if ( newStatus != s.LastStatus) {
			switch(newStatus) {
				case STATUS.HEADING:
					$("#"+s.Codifier+"h").addClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					break;
				case STATUS.DWARNING:
				case STATUS.IWARNING:
					if (s.Codifier == "X2") console.log("WARNING X2");
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").addClass("jph-error");
					$("#"+s.Codifier+"h").removeClass("jph-info");
					break;
				case STATUS.INFO:
					$("#"+s.Codifier+"h").removeClass("jph-okay");
					$("#"+s.Codifier+"h").removeClass("jph-error");
					$("#"+s.Codifier+"h").addClass("jph-info");
					break;
			}
			s.LastStatus=newStatus;
		}
		if (s.LastDTimestamp != 0) {
			// d = new Date(s.LastDTimestamp * 1000);
			d = parseInt(s.LastDTimestamp);
			$("#"+s.Codifier+"t").html( time_ago(d) );
		}
	}
}

var updateValues = function() {
	jQuery.getJSON("/sensor/").done(function(response) {
		if ( response.length > 0) {
			for (var key in response) {
				s=findSensor(response[key].Codifier);
				if (s==null) {
					console.log("a new sensor:", reponse[key].Codifier);
					alert("A new sensor was found please refresh the page");
					// (Test this???)   ---> window.location.reload(true);
					continue
				}
				t=parseInt(response[key].ITimestamp);
				if (t>s.LastITimestamp) { 
					s.Active = toBoolean(response[key].IsActive);
					s.LastITimestamp=t;
					m= new Date(t).toISOString().slice(0,19).replace('T', ' ');
				}
				t=parseInt(response[key].DTimestamp);
				if (t>s.LastDTimestamp) {
					$("#"+s.Codifier+'v').html( afronden(parseFloat(response[key].Value).toFixed(1)) + "" + s.Symbol);
					s.LastDTimestamp=t;
				}
			}
		}
	});
};

// Loop and update the screen all the time
var IamInProgress = false;
var ttimer = setInterval(function () {
	if (IamInProgress)
		return;
	IamInProgress=true;
	updateValues();
	updateTimes();
	IamInProgress=false;
}, RefreshRate);

function time_ago(time) { // add a parameter to add red items that are old than X time
	switch (typeof time) {
		case 'number': break;
		case 'string': time = +new Date(time); break;
		case 'object': if (time.constructor === Date) time = time.getTime(); break;
		default: time = +new Date();
	}
	var time_formats = [
		[60, 'seconds', 1], // 60
		[120, '1 minute ago', '1 minute from now'], // 60*2
		[3600, 'minutes', 60], // 60*60, 60
		[7200, '1 hour ago', '1 hour from now'], // 60*60*2
		[86400, 'hours', 3600], // 60*60*24, 60*60
		[172800, 'Yesterday', 'Tomorrow'], // 60*60*24*2
		[604800, 'days', 86400], // 60*60*24*7, 60*60*24
		[1209600, 'Last week', 'Next week'], // 60*60*24*7*4*2
		[2419200, 'weeks', 604800], // 60*60*24*7*4, 60*60*24*7
		[4838400, 'Last month', 'Next month'], // 60*60*24*7*4*2
		[29030400, 'months', 2419200], // 60*60*24*7*4*12, 60*60*24*7*4
		[58060800, 'Last year', 'Next year'], // 60*60*24*7*4*12*2
		[2903040000, 'years', 29030400], // 60*60*24*7*4*12*100, 60*60*24*7*4*12
		[5806080000, 'Last century', 'Next century'], // 60*60*24*7*4*12*100*2
		[58060800000, 'centuries', 2903040000] // 60*60*24*7*4*12*100*20, 60*60*24*7*4*12*100
	];
	var seconds = (+new Date() - time) / 1000,
		token = 'ago', list_choice = 1;

	if (seconds < 1 && seconds > 0) {
		return 'Just now'
	}
	if (seconds < 0) {
		seconds = Math.abs(seconds);
		token = 'from now';
		list_choice = 2;
	}
	var i = 0, format;
	while (format = time_formats[i++])
		if (seconds < format[0]) {
			if (typeof format[2] == 'string')
				return format[list_choice];
			else
				return Math.floor(seconds / format[2]) + ' ' + format[1] + ' ' + token;
		}
	return time;
};

var afronden = function( inputValue ) {
   if (inputValue > 100)
		   return Math.round(inputValue * 1) / 1;
   else {
	   if (inputValue > 10)
		   return Math.round(inputValue * 10) / 10;
	   else {
		   if (inputValue > 1)
			   return Math.round(inputValue * 100) / 100;
		   else
			   return Math.round(inputValue * 1000) / 1000;
	   }
	}
};

var toBoolean = function(value) {
	var strValue = String(value).toLowerCase();
	strValue = ((!isNaN(strValue) && strValue !== '0') &&
		strValue !== '' &&
		strValue !== 'null' &&
		strValue !== 'undefined') ? '1' : strValue;
	return strValue === 'true' || strValue === '1' ? true : false
};

function findSensor (val) { 
  for (var ai, i = mySensors.length; i--;)
	if ((ai = mySensors[i]) && ai["Codifier"] == val)
	  return ai;
  return null;
}

</script>
</body>
</html>
